/* ========================================================================
   Component: layout
 ========================================================================== */
body, .wrapper .section-container {
  background-color: #f5f7fa;

}

.wrapper .aside-container {
  background-color: #fff; }


.content-wrapper{
  min-height: 550px;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: transparent;
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x; }
@media (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none; } }
.topnavbar .navbar-nav > li > .navbar-text {
  color: #23b7e5; }
.topnavbar .navbar-nav > li > a, .topnavbar .navbar-nav > .open > a {
  color: #23b7e5; }
.topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
  color: #117391; }
.topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus, .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent; }
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff; }
.topnavbar .nav-wrapper {
  background-color: #23b7e5;
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x; }

@media (min-width: 768px) {
  .topnavbar {
    background-color: #23b7e5;
    background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
    background-repeat: repeat-x; }
  .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset; }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff; }
  .topnavbar .navbar-nav > li > a, .topnavbar .navbar-nav > .open > a {
    color: #fff; }
  .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    color: #117391; } }

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #fff; }
.sidebar .nav-heading {
  color: #919DA8; }

.sidebar-nav > li > a, .sidebar-nav > li > .nav-item {
  color: #515253; }
.sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover, .sidebar-nav > li > .nav-item:focus, .sidebar-nav > li > .nav-item:hover {
  color: #23b7e5; }
.sidebar-nav > li > a > em, .sidebar-nav > li > .nav-item > em {
  color: inherits; }

.sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
  background-color: #fcfcfc;
  color: #23b7e5; }

.sidebar-nav > li.active > .nav-item > em, .sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em, .sidebar-nav > li.open > a > em {
  color: #23b7e5; }

.sidebar-nav > li.active {
  border-left-color: #23b7e5; }

.sidebar-subnav {
  background-color: #fff; }
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253; }
.sidebar-subnav > li > a, .sidebar-subnav > li > .nav-item {
  color: #515253; }
.sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover, .sidebar-subnav > li > .nav-item:focus, .sidebar-subnav > li > .nav-item:hover {
  color: #23b7e5; }
.sidebar-subnav > li.active > a, .sidebar-subnav > li.active > .nav-item {
  color: #23b7e5; }
.sidebar-subnav > li.active > a:after, .sidebar-subnav > li.active > .nav-item:after {
  border-color: #23b7e5;
  background-color: #23b7e5; }

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #656565; }

.wrapper{
  background-image: linear-gradient(100deg,#b1afaf,#252525)
}

.login-card .card-header{
  background-image: linear-gradient(135deg, #a6d3ec 0%,#a5d2ed 100%);
  border-bottom:2px solid #88bcdc;
  height: 70px;
}

.card-flat{
  box-shadow:  -1px 1px 20px 0px rgba(0,0,0,0.39);
  -webkit-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.39);
  -moz-box-shadow:  -1px 1px 20px 0px rgba(0,0,0,0.39);
}


.topnavbar{
  background-image: linear-gradient(135deg, #bad5f8 0%,#3aa8dd 100%);
}

.table > thead > tr > th{
  color: white;
  background: #77aae5;
}


/*.btn-primary {*/
  /*color: #fff;*/
  /*background-color: #37bc9b;*/
  /*border-color: #37bc9b; }*/
/*.btn-primary:hover {*/
  /*color: #fff;*/
  /*background-color: #2e9e83;*/
  /*border-color: #2b957a; }*/
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 #000; }
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b; }
/*.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,*/
/*.show > .btn-primary.dropdown-toggle {*/
  /*color: #fff;*/
  /*background-color: #2b957a;*/
  /*border-color: #298b72; }*/
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.card .card-header .card-title{
  font-size: 1.5rem;
}

.switch input:checked + span{
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.drag-drop-container .connectedSortable{
  padding-bottom: 30px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px dashed #e2e2e2;
  padding: 20px;
}
.drag-drop-container .connectedSortable li {
  cursor: move;
  list-style: none;
  font-weight: 500;
   border-radius: 3px;
  display: inline-block;
  font-size: 12px;

  padding: 0px 10px;
  margin: 0 4px 4px 0;
  padding-right: 0px;
  text-decoration: none;
  background: #828282;
  text-shadow: none;
  border: none;
  color: #fff;
  line-height: 25px;
  box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);


}

.drag-drop-container .connectedSortable li .remove{
  width: 10px;
  height: 9px;
  margin: 0;
  display: inline-flex;
  padding-left: 5px;
  background: 0 0;
  vertical-align: inherit;
  padding-top: 0;
}

.drag-drop-container .connectedSortable li .remove-wrapper{
  height: 27px;
  display: inline-block;
  width: 25px;
  padding-left: 6px;
  cursor: pointer;
}
.drag-drop-container .connectedSortable li .item-lbl{
  border-right:1px solid #5f5d5d;
  height: 29px;
  display: inline-flex;
  padding-right: 7px;
  padding-top: 2px;
}


.drag-drop-container .connectedSortable.selected-items li .item-lbl {
  border-right: 1px solid #18a0b5;

}

.drag-drop-container .connectedSortable li .remove:before {
  position: relative;
  content: " ";
  height: 10px;
  width: 2px;
  background-color: #fff;
  transform: rotate(90deg);
}

.drag-drop-container .connectedSortable.selected-items li .remove:before {
  transform: rotate(45deg);
}

.drag-drop-container .connectedSortable li .remove:after{
  position: relative;
  content: " ";
  height: 10px;
  width: 2px;
  background-color: #fff;
  transform: rotate(0deg);
  left: -2px;
}
.drag-drop-container .connectedSortable.selected-items li .remove:after{
  transform: rotate(-45deg);
}
.drag-drop-container .connectedSortable li.ui-sortable-palceholder{
  display: none;
}
.drag-drop-container .connectedSortable.selected-items li{
  background: #34bbd0;
}
.ui-state-default.ui-sortable-handle.ui-sortable-placeholder{
  height: 1px !important;
  display: inline-block !important;
}

.drag-drop-container .header-container{
  border-bottom: 1px solid #dedada;
  margin-bottom: 25px;
}

.full-width{
  width: 100% !important;
}

.wrapper {
  background-image: linear-gradient(100deg,#279de2,#80d0c7);
}

.btn-green {
  color: #fff;
  background-color: #5d9cec;
  border-color: #5d9cec;
}

.btn-green:hover {
  color: #fff;
  background-color: #3b87e8;
  border-color: #2f80e7;
}

.btn-success {
  color: #fff;
  background-color: #5d9cec;
  border-color: #5d9cec;
}

.btn-success:hover {
  color: #fff;
  background-color: #3b87e8;
  border-color: #2f80e7;
}

.wrapper .footer-container{
  color: white;
}

.form-control{ margin-bottom: 15px}
.sidebar-subnav li { margin-left: 20px}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.52857143;
  color: #5f5f5f;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #2f3342;
  background-color: #fafbfc;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #5d9cec;
}

.photo-cover {
  border: 1px solid lightgrey;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
.upload-btn-wrapper {
  position: inherit;
  overflow: hidden;
  display: inline-block;
  left: 40px;
}

.quiz-img .btn {
  border: 2px solid #c8c7c7;
  color: #989898;
  background-color: white;
  padding: 4px 13px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.quiz-img .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.panel {
  margin-bottom: 21px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel.panel-default {
  border-top-width: 3px;
}

.panel-default {
  /*border-color: #cfdbe2;*/
}

.panel-body form {
  padding: 0px 15px 0px 15px;
}

.panel .panel-heading {
  border-bottom: 0px;
  font-size: 14px;
  padding:0.625rem 0.9375rem;
}
.dl-horizontal{
  padding-left:15px;
}
.divider{
  border: .5px solid #d9d2d2;
  margin: 10px 0px 4px 0px;
}

.custom-style .label-danger{
  font-weight: 900;
  border: 1px solid;
  background: red;
  color: white;
  padding: 2px 11px;
  font-size: 12px;
  border-radius: 5px;
}

.label-danger{
  font-weight: 900;
  border: 1px solid;
  background: red;
  color: white;
  padding: 2px 11px;
  font-size: 12px;
  border-radius: 5px;
}

.label-success{
  font-weight: 900;
  border: 1px solid;
  background: green;
  color: white;
  padding: 2px 11px;
  font-size: 12px;
  border-radius: 5px;
}

.custom-style .panel-default .panel-heading{    border-bottom: .5px solid #ccc;
  margin-bottom: 12px;}

.custom-style .comments{
  margin-right: 15px;
}

.custom-style .comments .panel-default{ border: 1px solid #cccccc78;}
.custom-style .comments .panel-heading{     margin-bottom: 0;
  border-bottom: 1px solid #cccccc9e;
  border-radius: 0;
  background: #f5f7fa;
  color: black;
  font-weight: 800;}

.custom-style .comments .panel-body{
margin: 0;
  padding: 15px;
}

.custom-style .panel-body{padding: 15px}